<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-publication-heading" jhiTranslate="microbloggingApp.publication.home.createOrEditLabel">Create or edit a Publication</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!publication.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="publication.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publication.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="publication.date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publication.content" for="field_content">Content</label>
                    <input type="text" class="form-control" name="content" id="field_content"
                        [(ngModel)]="publication.content" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publication.visible" for="field_visible">Visible</label>
                    <input type="checkbox" class="form-control" name="visible" id="field_visible"
                        [(ngModel)]="publication.visible" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publication.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                        [(ngModel)]="publication.country" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publication.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="publication.city" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publication.republishedBy" for="field_republishedBy">Republished By</label>
                    <select class="form-control" id="field_republishedBy" name="republishedBy" [(ngModel)]="publication.republishedBy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="publicationOption.id === publication.republishedBy?.id ? publication.republishedBy : publicationOption" *ngFor="let publicationOption of republishedbies; trackBy: trackPublicationById">{{publicationOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="microbloggingApp.publication.favedBy" for="field_favedBy">Faved By</label>
                    <select class="form-control" id="field_favedBy" multiple name="favedBy" [(ngModel)]="publication.favedBies">
                        <option [ngValue]="getSelected(publication.favedBies, publisherOption)" *ngFor="let publisherOption of publishers; trackBy: trackPublisherById">{{publisherOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="microbloggingApp.publication.likedBy" for="field_likedBy">Liked By</label>
                    <select class="form-control" id="field_likedBy" multiple name="likedBy" [(ngModel)]="publication.likedBies">
                        <option [ngValue]="getSelected(publication.likedBies, publisherOption)" *ngFor="let publisherOption of publishers; trackBy: trackPublisherById">{{publisherOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="microbloggingApp.publication.taggedBy" for="field_taggedBy">Tagged By</label>
                    <select class="form-control" id="field_taggedBy" multiple name="taggedBy" [(ngModel)]="publication.taggedBies">
                        <option [ngValue]="getSelected(publication.taggedBies, tagOption)" *ngFor="let tagOption of tags; trackBy: trackTagById">{{tagOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publication.publisher" for="field_publisher">Publisher</label>
                    <select class="form-control" id="field_publisher" name="publisher" [(ngModel)]="publication.publisher" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="publisherOption.id === publication.publisher?.id ? publication.publisher : publisherOption" *ngFor="let publisherOption of publishers; trackBy: trackPublisherById">{{publisherOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
