<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-publicacion-heading" jhiTranslate="microbloggingApp.publicacion.home.createOrEditLabel">Create or edit a Publicacion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!publicacion.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="publicacion.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publicacion.fecha" for="field_fecha">Fecha</label>
                    <div class="d-flex">
                        <input id="field_fecha" type="datetime-local" class="form-control" name="fecha" [(ngModel)]="fecha"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publicacion.contenido" for="field_contenido">Contenido</label>
                    <input type="text" class="form-control" name="contenido" id="field_contenido"
                        [(ngModel)]="publicacion.contenido" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publicacion.visibilidad" for="field_visibilidad">Visibilidad</label>
                    <input type="checkbox" class="form-control" name="visibilidad" id="field_visibilidad"
                        [(ngModel)]="publicacion.visibilidad" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publicacion.pais" for="field_pais">Pais</label>
                    <input type="text" class="form-control" name="pais" id="field_pais"
                        [(ngModel)]="publicacion.pais" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publicacion.ciudad" for="field_ciudad">Ciudad</label>
                    <input type="text" class="form-control" name="ciudad" id="field_ciudad"
                        [(ngModel)]="publicacion.ciudad" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publicacion.usuario" for="field_usuario">Usuario</label>
                    <select class="form-control" id="field_usuario" name="usuario" [(ngModel)]="publicacion.usuario" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usuarioOption.id === publicacion.usuario?.id ? publicacion.usuario : usuarioOption" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="microbloggingApp.publicacion.republicacionDe" for="field_republicacionDe">Republicacion De</label>
                    <select class="form-control" id="field_republicacionDe" name="republicacionDe" [(ngModel)]="publicacion.republicacionDe">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="publicacionOption.id === publicacion.republicacionDe?.id ? publicacion.republicacionDe : publicacionOption" *ngFor="let publicacionOption of republicaciondes; trackBy: trackPublicacionById">{{publicacionOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="microbloggingApp.publicacion.menciona" for="field_menciona">Menciona</label>
                    <select class="form-control" id="field_menciona" multiple name="menciona" [(ngModel)]="publicacion.mencionas">
                        <option [ngValue]="getSelected(publicacion.mencionas, usuarioOption)" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="microbloggingApp.publicacion.esFav" for="field_esFav">Es Fav</label>
                    <select class="form-control" id="field_esFav" multiple name="esFav" [(ngModel)]="publicacion.esFavs">
                        <option [ngValue]="getSelected(publicacion.esFavs, usuarioOption)" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
